@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Azure Service Bus WCF Relay REST sample code</h2>

    <p>Below result is coming from on-premise server, connected via Azure Service Bus WCF relay</p>
    <p>====================</p>
    <p>@ViewBag.Message</p>
    <p>====================</p>
</div>
