@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Key Vault Demo</h1>
    <p class="lead">Get storage connection string from Key Vault and show result.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Result", "Home")">Click Me</a></p>

</div>